$gray: #c4c4c4;
$max-width: 768px;

.header {
  background-color: $gray;

  padding-top: 1.5rem;
  padding-bottom: 7rem;
}

.header__container {
  max-width: $max-width;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-weight: bolder;
  cursor: default;
}

.header__span {
  color: #fff;
}

.header__user {
  font-weight: bold;
  font-size: 1.5rem;
}
