.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  margin-top: -4rem;
}

.card {
  max-width: 256px;

  background-color: #fff;

  padding: 2rem 1rem;
  border-radius: 10px;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0.5rem;
}
